---
title: CircleCI OSX Container Software
---
<h1>{{ page.title }}</h1>
<p>This document describes the software present on <a href="https://circleci.com">CircleCI</a> OSX containers.</p>

<table>
    <thead>
        <tr>
            <th colspan="2" class="underline">Operating System</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>System Version</td>
            <td>{{ site.data.software.os.system_version }}</td>
        </tr>
        <tr>
            <td>Kernel Version</td>
            <td>{{ site.data.software.os.kernel_version }}</td>
        </tr>
        <tr>
            <td>Keyboard Layout</td>
            <td>{{ site.data.software.environment.keyboard_layout }}</td>
        </tr>
        <tr>
            <td>Timezone</td>
            <td>{{ site.data.software.environment.timezone }}</td>
        </tr>
    </tbody>
    <thead>
        <tr>
            <th colspan="2" class="underline">Software</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ruby</td>
            <td>{{ site.data.software.ruby.version }}</td>
        </tr>
        <tr>
            <td>Python</td>
            <td>{{ site.data.software.tools.python }}</td>
        </tr>
        <tr>
            <td>Fastlane</td>
            <td>{{ site.data.gems.fastlane }}</td>
        </tr>
        <tr>
            <td>cocoapods</td>
            <td>{{ site.data.gems.cocoapods }}</td>
        </tr>
        <tr>
            <td>carthage</td>
            <td>{{ site.data.homebrew.carthage }}</td>
        </tr>
        <tr>
            <td>shenzhen</td>
            <td>{{ site.data.gems.shenzhen }}</td>
        </tr>
        <tr>
            <td>xcpretty</td>
            <td>{{ site.data.gems.xcpretty }}</td>
        </tr>
        <tr>
            <td>Facebook xctool</td>
            <td>{{ site.data.software.tools.xctool }}</td>
        </tr>
        <tr>
            <td>Java</td>
            <td>{{ site.data.software.tools.java | newline_to_br}}</td>
        </tr>

        <tr>
            <td>Xcode</td>
            <td>
                <ul>
                    {% for xcode in site.data.xcode reversed %}
                    <li>{{ xcode['version'] }} Build {{ xcode['build_version'] }}
                    </li>
                    {% endfor %}
                </ul>
            </td>

        </tr>
    </tbody>
</table>

<h2>Xcode</h2>



{% for xcode in site.data.xcode reversed %}

<h3 class="underline" id="{{ xcode['version'] }}">Xcode {{ xcode['version'] }} (build {{ xcode['build_version'] }})</h3>
With Xcode {{ xcode['version'] }} we pre-install the following simulators:

<ul class="simulators">

    {% for sim in xcode['simulators'] %}
    <li>
        {{ sim }}
    </li>
    {% endfor %}
</ul>
{% endfor %}
